.container {
  height: 100%;
  padding: 20px;
  width: auto !important;
  display: flex;
  gap: 50px;
  background-color: black;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 2;
}

.weatherWidget {
  height: 100%;
  width: 100%;
}

.newsWidget {
  border-radius: 20px;
  flex: 1;
}
