@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --primary-color: #72db73;
  --label-color: #7c7c7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: #000;
  color: #7c7c7c;
}
